/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&display=swap');

/* ==== ROOT RESET ==== */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root{
    --primary-color:#335eea;
    --link-color:#506690;
    --btn-hover-color:#2b50c7;
    --lg-heading:#161c2d;
    --text-content:#869ab8;
    --fixed-header-height:4.5rem;
}

/* ==== RESET HTML ==== */
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fbfbfb;
}

ul li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* ==== CONTAINER ==== */

.container{
    width: 100%;
}


@media screen and (min-width:1040px) {

    .container{
        width: 1040px;
        margin: 0 auto;
    }
    
}

/* ==== HEADER ==== */

.header {
    width: 100%;
    height: var(--fixed-header-height);
    padding: 01.7rem;
}


/* ==== NAV ==== */

/* ==== LOGO ==== */

/* ====  NAV-MENU  ==== */

/* ====  WRAPPER ==== */

/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */